{% load base_tags %}

{% if object %}
<div class="pagination">
    <span class="step-links">
        {% if object.number != 1 %}
            <a href="?{%if min_support %}min_support={{min_support}}&{%endif%}page=1">First</a> |
        {% else %}
            First |
        {% endif %}
        {% if object.has_previous %}
            <a href="?{%if min_support %}min_support={{min_support}}&{%endif%}page={{ object.previous_page_number }}">Previous</a> |
        {% else %}
            Previous |
        {% endif %}

        <span class="current">
            <strong>{% if min_support %}{{ object|get_pages:min_support|safe }}{% else %}{{ object|get_pages|safe }}{% endif %}</strong> 
        </span>

        {% if object.has_next %}
            | <a href="?{%if min_support %}min_support={{min_support}}&{%endif%}page={{ object.next_page_number }}">Next</a>
        {% else %}
            | Next 
        {% endif %}
        {% if object.number != object.paginator.num_pages %}
            | <a href="?{%if min_support %}min_support={{min_support}}&{%endif%}page={{object.paginator.num_pages}}">Last</a>
        {% else %}
            | Last
        {% endif %}
    </span>
</div>
{% endif %}
